* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: rgb(53, 59, 79);
  color: white;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: rgb(43, 52, 82);
  text-align: center;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(209, 138, 195);
  font-weight: 700;
}

.feedback-card {
  color: black;
  max-width: 940px;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  margin: 2.5rem auto;
  padding: 0.5rem;
  .feedback-card__item {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .feedback-card__rate {
    background-color: rgb(209, 138, 195);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2rem;
    left: -3rem;
    color: white;
  }
  .feedback-card__btns {
    display: flex;
    width: 20%;
    justify-content: space-between;
  }
  .feedback-card__btn {
    cursor: pointer;
  }
}

.feedback-card__content {
  margin: 0.5rem 0;
}

.rate-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .number {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 138, 195);
    border-radius: 50px;
    color: white;
    margin: 0.5rem 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

.number:hover,
.feedback-form__btn:hover {
  scale: 1.1;
}

.feedback-form {
  margin: 1rem auto;
  width: 80%;
  display: flex;
}

.feedback-form__text {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-family: "Comfortaa", cursive;
}

.feedback-form__btn {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(53, 59, 79);
  transition: all 0.3s ease;
  cursor: pointer;
}
